/* Design control of the main title */
.row {
	padding-top: 30px;
}

.row-featurette{
	padding-left: 220px;
}

/* Image style for interests labels */
.one-img {
	position: absolute;
	top: 160px;
	left: 410px;
}

.two-img {
	position: absolute;
	top: 160px;
	left: 795px;
}

.three-img {
	position: absolute;
	top: 160px;
	right: 630px;
}

/* Styling for green circles */
.first-green-circle {
	margin-top: 30px;
	margin-left: -10px;
}

.second-green-circle {
	margin-top: 30px;
	margin-left: 230px;
}

.third-green-circle {
	margin-top: 30px;
	margin-left: 230px;
}

/* Styling for details buttons */