<div class="mainHeader">
  <!-- Title at top of page -->
  <h1>
    {{ title }}
  </h1>
  <!-- Navigation bar -->
  <div class="topnav">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/aboutMe" routerLinkActive="active">About Me</a>
    <a routerLink="/currentWork" routerLinkActive="active">Current Work</a>
    <a routerLink="/education" routerLinkActive="active">Education</a>
    <a routerLink="/rover" routerLinkActive="active">Rover</a>
  </div>
</div>
<router-outlet></router-outlet>
