<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Main div for title and description -->
    <div class="header">
      <div class="container">
        <h1 class="title">Blog</h1>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <!-- Main div for layout of blog posts -->
        <div class="col-sm-8 blog-main">

          <!-- Div for first title -->
          <div class="first-post">
            <p id="demo"></p>
          </div><!-- /.blog-post -->
        </div>

        <!-- Div for sidebar content -->
        <div class="col-sm-3 offset-sm-1 blog-sidebar">

          <!-- Div for sidebar button -->
          <div class="sidebar-module">
            <button type="button" class="btn btn-primary" onclick="myFunction()">Post</button>
          </div>
        </div><!-- /.sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
      <p>&copy; 2019 Mark Hutchinson &middot; <a>Education</a>
    </footer>



    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>