<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <!-- Main div for title and description -->
    <div class="header">
      <div class="container">
        <h1 class="title">Education</h1>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <!-- Main div for layout of blog posts -->
        <div class="col-sm-8 blog-main">

          <!-- Div for first title -->
          <div class="first-post">
            <h2 class="first-post-title">Miami University</h2>

            <p>Bachelor of Engineering in Computer Engineering</p>
            <hr>
            <p>August 2014 -December 2017</p>
            <p>Oxford, Ohio</p>
            <h2>Part Time Work</h2>
            <h3>Student Summer Help</h3>
            <p>Accomplished tasks assigned by professor, including designing a website for use in professor’s class</p>
            <p>Can be found at: <a href="https://mhutch14.github.io/">https://mhutch14.github.io/</a></p>
          </div><!-- /.blog-post -->
        </div>

        <!-- Div for sidebar content -->
        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>My time spent at Miami University was a great experience in which I learned a lot. Majoring in Computer Engineering allowed me to get exposure to both the software side and electrical side of design. Along with my major I participated in Broomball all four years with my friends, our team got really good by the end of my time there! I was also involved in Engineers Without Borders, we helped design water systems for a community in Rwanda and Uganda. I served as the vice president of projects.</p>
          </div>

          <!-- Div for sidebar list -->
          <div class="sidebar-module">
            <h4>Github</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/mhutch14/mhutch14.github.io.git">Professor's Website</a></li>
              <li><a href="https://github.com/mhutch14/High-Performance-Computing.git">High Performance Computing</a></li>
              <li><a href="https://github.com/mhutch14/ECE-387-Final-Project.git">Embedded Systems Final Project</a></li>
              <li><a href="https://github.com/mhutch14/ECE-387-Group-Project.git">Embedded Systems Group Final Project</a></li>
              <li><a href="https://github.com/mhutch14/ECE-387-Midterm.git">Embedded Systems Midterm Project</a></li>
            </ol>
          </div>

          <!-- Div for sidebar links -->
          <div class="sidebar-module">
            <h4>Other</h4>
            <ol class="list-unstyled">
              <li><a href="https://www.linkedin.com/in/mark-hutchinson-085267a5/">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <hr class="featurette-divider">

    <!-- FOOTER -->
    <footer>
      <p>&copy; 2019 Mark Hutchinson &middot; <a>Education</a>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
