<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<!-- Div for main title and description -->
<div class="jumbotron text-center">
  <h1>Current Work</h1>
  <p>Tech King Operations</p> 
</div>

<!-- Div for main layout -->
<div class="container">
  <!-- Div for individual rows -->
  <div class="row">
    <!-- Div for column one -->
    <div class="col-sm-4">
      <h3>Work</h3>
      <p>• Provide support and/or perform modifications to existing control systems based upon specific system design as
        well as operational requirements.</p>
      <p>
        • Conduct in-house preliminary testing and onsite testing of the system as installed at the client’s facility.
      </p>
      <p>
        • Follow technical check-out and product startup guides during audit and onsite support trips
      </p>
      <p>
        • Train existing warranty clients on their control systems while onsite at the client’s facility
      </p>
      <p>
        • Interact with mechanical engineering, control panel fabrication and electrical installation personnel
      </p>
      <p>
        • Provide customer training and support
      </p>
      <p>
        • Generate project specific documentation using standard company formats
      </p>
    </div>
    <!-- Div for column two -->
    <div class="col-sm-4">
      <h3>Accomplishments</h3>
      <p>- Working in python code base, commissioned three systems, including deploying proprietary code base on client
          systems, adding features specific to systems, troubleshooting any problems, and documenting and training users
          on new systems.</p>
      <p>
        - Saved client time by setting up Linux-based system across the nation and installing proprietary mobile
        application on tablets that streamlined picking process on factory floors
      </p>
      <p>
        - Enabled company to forego time and expense of in-person training by creating, with another programmer, a
        step-by-step guide on how to set up servers with the correct code base and to run application
      </p>
    </div>
    <!-- Div for column three -->
    <div class="col-sm-4">
      <h3>Skills</h3> 
      <p>• Java: One year of experience in academic setting</p>
      <p>
      • C++: One year of experience in academic and professional setting
      </p>
      <p>
      • HTML/CSS: One-half year of experience with outside projects
      </p>
      <p>
      • Python: One-half year of experience working on web screens for Tech King
      </p>
      <p>
      • JavaScript: One-half year of experience working on web screens for Teck King
      </p>
    </div>
  </div>
</div>
