<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">

      <!-- Div for main title and description -->
      <div class="jumbotron">
        <h1>Rover!</h1>
        <p class="lead">A great dog sitting service that I am apart of. If you would like to learn more about me read on below. I would love to take care of your dog for you when you can't!</p>
        <p><a class="btn btn-lg btn-success" href="https://www.rover.com/members/mark-h-volunteer-at-animal-shelter/" role="button">Get started today</a></p>
      </div>

      <!-- Div for row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Experience</h2>
          <p>Every since about two years ago I discovered one of my passions, and that passion was caring for any and all types of dogs at my local animal shelter. Being a student I spent all my breaks and everyday I had free doing this. Now that I am graduated I am working a full time job as a controls engineer and would love to in the free time help others with care of there animals. I still volunteer whenever I can at my local shelter and when I discovered this service I just knew that I had to become apart of it. Although I do not have a ton of time during the week due to my full time job I would love to help after work and on the weekends as much as possible. </p>
        </div>
        <div class="col-lg-4">
          <h2>When Watching Your Pet</h2>
          <p>I am willing to take your dog on a short simple walk in your neighborhood, or go for a much longer walk on trails or at parks. I have learned a bit about training over my years of experience at the shelter and will attempt to work on basic commands with your dog, if we are in an environment that allows. </p>
       </div>
        <div class="col-lg-4">
          <h2>What I Would Like to Know</h2>
          <p>I just like to know how your dog is with other people and other dogs. My favorite breeds include huskies, retrievers, and German shepherds, however I am more than happy with all types of dogs.
        </div>
      </div>

      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Mark Hutchinson 2019</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
